*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ /* cor de Fundo*/
    background-color: #253f62;
}
header { /* cabeçalho*/
    position: fixed;
    background-color: white;
    height: 70px;
    width: 100%;
    padding: 20px;
}
:root {
    --azul: #253f62;
    --verde: #adf8a0;
}
* {
    margin: 0;
    padding: 0;
}
/*essa barra foi feita com checkbox para mostrar e esconder ela quando o botão for clicado*/
.barra {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: var(--verde);
    transition: all .5s ease;
}
/*os atributos da barra vão estar logo abiaxo como fonte, display e tudo mais*/
.barra h1 {
    font-size: 28px;
    color: var(--azul);
    line-height: 70px;
    text-align: center;
    background-color: var(--verde);
    user-select: none;
    font-family: 'Sora', sans-serif;
}

.barra a{
    display: block;
    height: 65px;
    width: 100%;
    color: var(--verde);
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-left: 5px solid transparent;
    font-family: 'Sora', sans-serif;
    transition: all .5s ease;
}
/* aqui é quando estiver ativo e você passar o mouse nos botões do menu*/
a.active,a:hover{
    border-left: 5px solid --azul;
    color: var(--azul);
    text-decoration: none;
}
/*estilização dos ícones do menu*/
.barra a ion-icons {
    font-size: 23px;
    margin-right: 16px;
}
.barra a span{
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* aqui eu coloquei pra checkbox ficar invisivel pois fica feio de outra forma*/

#check {
    display: none;
}
/* quando o menu for clicado, a barra é mostrada mas o menu continua ali do lado
para você pode fechar o menu novamente se assim desejar*/
label #btn,label #cancel{
    position: fixed;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    margin: 15px 30px;
    font-size: 28px;
    background: black;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
}
#check:checked ~ .barra {
    left: 0;
}
#check:checked ~ label #btn{
    margin-left: 245px;
}
.akihabara {
    height: 900px;
    width: 1700px;
    transition: 0.5s;
    margin-top: 150px;
}


#check:checked ~ .akihabara{
    margin-right: 150px;
}

img { /*elementos da imagem principal*/
    border: 20px solid white;   
}

.caixadial {
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 100px;
    cursor: pointer;       
    justify-content: center;       
    }

.caixadial2 {
        border: none;
        color: rgb(0, 0, 0);
        padding: 20px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 0px;
        cursor: pointer;       
        justify-content: center;       
        }

        footer {
            width: 100%;
            min-height: 250px;
            background: #ffff;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
        }
        footer .boxs {
            width: 320px;
            min-height: 150px;
            padding: 20px;
        }
        .boxs h2{
            color: black;
            margin-bottom: 20px;
        }
        .boxs ul li {
            margin: 10px 0px;
            list-style: none;
        
        }
        .boxs ul li a {
            color: black;
            text-decoration: none;
        }
        .boxs ul li a:hover {
            color: #adf8a0;
        }
        @media(max-width: 950px)
        {
            footer{
                flex-direction: column;
            }
        }